/* Style the map background */
.map__bg {
  position: relative;
  background-color: var(--first-color-second);
  padding: 2.5rem 0;
  height: auto;
}

/* Style the map container */
.map__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 0px;
}
.map {
  grid-area: 1 / 1 / 2 / 2;
}

.addrees {
  grid-area: 1 / 2 / 2 / 3;
}

/* Style the map iframe */
.map iframe {
  position: absolute;
  top: 0;
  left: 0;


  border: 0;
}

/* Style the address section */
.address {
  background-color: var(--first-color-second);
  padding: 2.5rem 0;
}

/* Style the address data */
.address__data {
  color: var(--white-color);
  text-align: center;
}

.address__data p {
  margin-bottom: var(--mb-2-5);
}

.address__data i {
  margin-right: 0.5rem;
}

/* Responsive design: Adjust styles for smaller screens */
@media (max-width: 768px) {
  .map iframe {
    height: 300px; /* Adjust the height for smaller screens */
  }
}
